@{
    ViewData["Title"] = "CreateWork";
}
<div class="text-center">
    <h2 class="display-4">Создание услуги</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">ТО:</div>
        <div class="col-8">
            <select id="toId" name="toId" class="form-control" asp-items="@(new SelectList(@ViewBag.TOs,"Id", "CarName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Тип услуги:</div>
        <div class="col-8">
            <select id="workTypeId" name="workTypeId" class="form-control" asp-items="@(new SelectList(@ViewBag.WorkTypes,"Id", "WorkName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Кладовщик:</div>
        <div class="col-8">
            <select id="storeKeeperId" name="storeKeeperId" class="form-control" asp-items="@(new SelectList(@ViewBag.StoreKeepers,"Id", "FIO"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Количество:</div>
        <div class="col-8"><input type="text" name="count" id="count"/></div>
    </div>
    <div class="row">
        <div class="col-4">Цена без учёта запчастей.:</div>
        <div class="col-8"><input type="text" name="price" id="price" readonly="true"/></div>
    </div>
    <div class="row">
        <div class="col-4">Цена с учётом запчастей:</div>
        <div class="col-8"><input type="text" name="netprice" id="netprice" readonly="true"/></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Добавить" class="btn btnprimary" /></div>
    </div>
</form>

<script>
    $('#workTypeId').on('change', function () {
        check();
    });
    $('#count').on('change', function () {
    check();
    });

    function check() {
        var count = $('#count').val();
        var type = $('#workTypeId').val();
        if (count && type) {
            $.ajax({
                method: "POST",
                url: "/Home/Calc",
                data: { count: count, type: type },
                success: function (result) {
                            $("#price").val(result[0]);
                            $("#netprice").val(result[1]);
                         }
            });
        };
    }
</script>