@using AutoFixStationContracts.ViewModels
@model WorkTypeViewModel
@{
    ViewData["Title"] = "DeleteWorkType";
}
<div class="text-center">
    <h3 class="display-4">Удалить тип услуги</h3>
</div>
<form method="post">
    <div class="row">
        <div class="col-8"><input type="text" name="worktypeId" id="worktypeId" hidden="true" value="@Model.Id"/></div>
    </div>
    <div class="row">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="worktypename" id="worktypename" value="@Model.WorkName" readonly="true"/></div>
    </div>
    <div class="row">
        <div class="col-4">Стоимость услуги:</div>
        <div class="col-8"><input type="text" name="price" id="price" value="@Model.Price" readonly="true"/></div>
    </div>
    <div class="row">
        <div class="col-4">Цена с учётом запчастей:</div>
        <div class="col-8"><input type="text" name="netprice" id="netprice" readonly="true" value="@Model.NetPrice"/></div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Удалить" class="btn btnprimary"/></div>
    </div>
</form>
<div class="text-center">
    <h3 class="display-4">Запчасти</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Название
            </th>
            <th>
                Количество
            </th>
            <th>
                Стоимость 1 ед.
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkSpareParts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => 
                        item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>
                        item.Value.Item1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>
                        item.Value.Item2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>
                        item.Value.Item3)
                </td>
            </tr>
        }
    </tbody>
</table>