@using AutoFixStationContracts.ViewModels
@model List<WorkViewModel>
@{
    ViewData["Title"] = "Основная страница (Работы)";
}
<div class="text-center">
    <h3 class="display-4">Услуги</h3>
</div>

<div class="text-center">
    @{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Номер
                </th>
                <th>
                    Номер типа услуги
                </th>
                <th>
                    Название
                </th>
                <th>
                    Стоимость работы
                </th>
                <th>
                    Стоимость с учётом запчастей
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Дата начала
                </th>
                <th>
                    Количество
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                            item.WorkTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem =>
                            item.WorkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.NetPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.WorkStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.WorkBegin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => 
                            item.Count)
                    </td>
                        @if (!@item.WorkStatus.Equals("Готов"))
                        {
                            <td>
                                <a asp-action="ActionWithWork" asp-route-workId="@item.Id">Изменить состояние услуги</a>
                            </td>
                        }
                    </tr>
            }
        </tbody>
    </table>
    }
</div>